@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;600;800&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
h1, h2, h3, h4, h5, h6 {
    font-weight: 600;
}
body {
    font-family: 'Open Sans', sans-serif;
}
header {
    padding: 30px 20px 0 20px;
    position: relative;
    background-image: url(images/header.jpg);
    background-size: cover;
    background-position: center;
    margin-bottom: 5px;
}
div.logo img {
    width: 80px;
}
nav.menu {
    width: 400px;
    background-color: rgb(164, 164, 159);
    position: absolute;
    left: -480px;
    top: 40px;
    bottom: 0;
    text-align: center;
   
}
header .container-menu {
   
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-bottom: 70px;
} 

#burger-menu, #close-menu {
    font-size: 1.8rem;
    padding: 5px;
    position: absolute;
    top: 0;
    left: 0;
}
#close-menu {
    display: none;
}
nav.menu ul {
    text-align: center;
    
}
.fa-solid {
    margin-right: 5px;
}
nav ul li{
    list-style: none;
    padding: 10px 30px;
    font-size: 1.2rem;
    
}
nav ul li a {
    text-decoration: none;
    color: black;
    position: relative;
}
nav ul li a::before {
    content: '';
    position: absolute;
    width: 100%;
    height: 4px;
    border-radius: 2px;
    background-color: hwb(354 27% 6% / 0.946);
    bottom: -4px;
    left: 0;
    transform-origin: right;
    transform: scaleX(0);
    transition: transform .3s ease-in-out;
}
nav ul li a:hover::before {
    transform-origin: left;
    transform: scaleX(1);
    color: hwb(354 27% 6% / 0.946);
}


div.social-media .fa-brands {
    font-size: 1.5rem;
    text-decoration: none;
    color: black;
}
.fa-square-facebook {
    margin-right: 15px;
}
.social-media a.fa-square-facebook:hover {
    color: #0a2dc9;
}
.social-media a.fa-twitter:hover {
    color: #1185c3;
}
div.title {
    padding: 20px 20px 0 20px;
    margin: 0 40px 0 40px;
    text-align: center;
    /*color: rgb(228, 101, 55,0.5);*/
    background-color: #dce7ef88;
}
.title h1 {
    padding: 10px 30px 40px 30px;
    margin: auto;
    background: linear-gradient(90deg, #e46537, #000, #e46537);
    letter-spacing: 5px;
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
    background-repeat: no-repeat;
    background-size: 80%;
    animation: shine 15s linear infinite;
    position: relative;   
    
}
@keyframes shine {
    0% {
      background-position-x: -500%;
    }
    100% {
      background-position-x: 500%;
    }
  }
  
section.article {
    background-color: #dce7ef;
}
.art {
    background-color: white;
    padding: 5px;
}
.art a{
    text-decoration: none;
    color: #535a5e;
}

.article1 h2, .article2 h2, .article3 h2, .article4 h2 {
    background-color: hwb(354 27% 6% / 0.946);
    color: white;
    padding-top: 10px;
    padding-left: 5px;
    text-align: left;
    margin-bottom: 20px;
}
.article1 p, .article2 p, .article3 p, .article4 p {
    margin-bottom: 20px;
}
.article1, .article2, .article3, .article4 {
    /*margin-bottom: 10px;*/
    margin: 5px;
}
.img-article1 {
    position: relative;
    background-image: url(images/sakura.jpg);
    background-size: cover;
    background-position: center;
    height: 300px;
    margin-bottom: 5px;
}
.img-article2 {
    position: relative;
    background-image: url(images/comida.jpg);
    background-size: cover;
    background-position: center;
    height: 300px;
    margin-bottom: 5px;
}
.img-article3 {
    position: relative;
    background-image: url(images/fuji.jpg);
    background-size: cover;
    background-position: center;
    height: 300px;
    margin-bottom: 5px;
}
.img-article4 {
    position: relative;
    background-image: url(images/noche.jpg);
    background-size: cover;
    background-position: center;
    height: 300px;
    margin-bottom: 5px;
}
.img-date {
    position: absolute;
    bottom: 8px;
    left: 16px;
    font-size: 18px;
    color: rgb(237, 237, 10); 
}
.article {
    padding: 5px;
    /*border: 10px solid rgb(164, 161, 161);*/
}
.p-container {
    display: flex;
}
.p-container p{
    margin: 5px;
}
.p-bottom {
    background-color: #dce7ef;
    padding: 10px;
}
/* main {
    margin: 5px 0 5px 0;
} */
aside {
    background-color: #dce7ef;
    padding: 10px;
    margin: 5px 0 5px 0;
    text-align: center;
}
footer {
    padding: 20px 10px;
    text-align: center;
    background-color: rgb(235, 234, 234);
    border-left: 10px solid #dce7ef;
    border-right: 10px solid #dce7ef;
}

/* Pantalla Tablet*/
@media (min-width: 480px) {
    header {
        position: initial;        
    }
    div.logo img{
        display: block;
    }
    #burger-menu {
        display: none;
    }
    nav.menu {
        width: initial;
        background-color: initial;
        position: initial;
        left: initial;
        top: initial;
        bottom: initial;
        text-align: center;
       
    }
     nav.menu ul {
        display: flex;
        justify-content: space-around;
    } 
    nav ul li{
        padding: 5px;
       
    }
    section.article .container-article {
        display: flex;  
        flex-wrap: wrap;
    }
    .art {
        flex: 1 1 400px;
    }
    
    main {
        display: flex;
        flex-wrap: wrap;
        flex: 0 0 400px;
    }  
}

 /*Pantall Tablet horizontal*/  



@media (min-width: 1024px) {
    nav ul li{
        padding: 5px 30px;
    }
    main {
        display: flex;
    }
    section.article {
        flex: 1 1 700px;
        margin-bottom: 5px;
    }
    .art {
        flex: 1 1 300px;
    }
   
    aside {
        flex: 0 1 300px;
        margin: 0 0 5px 5px;
    }
    
}

