* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Pantalla movil */
header {
    background-color: black;
    padding: 20px;
    margin-bottom: 10px;
}
div.menu {
    background-color: rgb(119, 119, 129);
    padding: 10px;
    margin-bottom: 20px;
}
.menuItem1, .menuItem2, .menuItem3 {
    padding: 10px;
    margin: 10px;
    background-color: rgb(230, 118, 118);
    
}
 
div.title {
    padding: 10px;
    
    background-color: rgb(240, 136, 39);
}
div.title div {
    padding: 10px;
    margin: 10px;
    background-color: rgb(221, 201, 20);
}
main {
    background-color: black;
    padding: 20px;
    margin-bottom: 10px;
}
div.container-content {
    background-color: rgb(121, 118, 118); 
    padding: 10px;
    margin-bottom: 10px;
}
.container-content div {
    padding: 10px;
    background-color: rgb(42, 127, 206);
    
    margin: 10px;
}
div.side-bar {
    background-color: rgb(235, 80, 80);
    padding: 10px;
}
.side-bar div {
    padding: 10px;
    background-color: rgb(221, 218, 64);
    margin: 10px;
}
footer {
    background-color: black;
    padding: 10px;
}
footer div {
    background-color: rgb(233, 220, 36);
    padding: 10px;
    margin: 10px;
}



/* Pantalla Tablet */

@media screen and (min-width: 480px) {
    
    div.menu {
        display: flex;
        justify-content: space-between;

    }
    .menuItem1, .menuItem3 {
       width: 20%;        
    }
    .menuItem2 {
        width: 60%;
    }
    div.container-content {
       display: flex;
       flex-wrap: wrap;
       justify-content: space-between;
        
    }
    .container-content div {
        flex: 1 1 180px;
    }
    .side-bar {
        margin: 0 0 10px;
    }
}

/* Pantalla ordenador */

@media screen and (min-width: 992px){
    main {
        display: flex;
        justify-content: space-between;
        
    }
    div.container-content {
        flex: 1 1 600px;
        margin-right: 20px;
        margin-bottom: initial;
    }
    div.side-bar {
        flex: 1 1 300px;
    }
    
}    